<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding A Player</title>
</head>
<body>
    
    <h3>Add Player Detail:</h3>
    <hr>
    <form>
        <p>Number: <%= p.id %></p>
        <p>Full Name: <%= p.firstname + " " + p.lastname %></p>
        <p>Position: <%= p.position %></p>
        <hr>
    </form>
       
    
</body>
</html>